@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

table, th, td {
  border-collapse: collapse; }

fieldset, input, select, button, textarea {
  outline: none;
  border: none; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

/* font */
/* background img */
/*----- header -----*/
#header {
  width: 100%;
  height: 50px;
  position: relative; }

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-bell,
.header-heart,
.header-bag {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px; }

.header-bell {
  left: 10px; }
  .header-bell.alram::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #0078FF;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0; }

.header-heart {
  right: 50px; }

.header-bag {
  right: 10px; }
  .header-bag .header-bag__badge {
    width: 18px;
    height: 18px;
    background-color: #0078FF;
    border-radius: 9px;
    position: absolute;
    bottom: -3px;
    right: -3px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #fff;
    text-align: center;
    line-height: 18px; }

/*----- visual -----*/
#visual {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-wrapper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative; }
  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover; }
  .swiper-slide .visual__txt {
    position: absolute;
    top: 0;
    left: 0; }
    .swiper-slide .visual__txt .visual__txt--top {
      margin-top: 40px;
      margin-left: 25px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .swiper-slide .visual__txt h2 {
      display: flex;
      width: 220px;
      height: 220px;
      margin-top: 75px;
      margin-left: 25px;
      align-items: flex-end;
      font-weight: 500;
      font-size: 30px;
      line-height: 39px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .swiper-slide .visual__txt .visual__txt--bottom {
      margin-top: 10px;
      margin-left: 25px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }

.swiper-pagination .swiper-pagination-bullet {
  background: #fff; }
.swiper-pagination .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 25px !important; }

/*----- 랭킹, 코디, 업데이트 -----*/
#main {
  width: 100%;
  padding: 15px;
  box-sizing: border-box; }

/* 메인 탭 */
.main-tab__menu {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #F5F5F5;
  margin: 15px 0; }
  .main-tab__menu ul {
    width: 100%;
    height: 100%; }
    .main-tab__menu ul::after {
      content: "";
      display: block;
      clear: both; }
    .main-tab__menu ul li {
      float: left;
      width: calc(100% / 3);
      height: 100%; }
      .main-tab__menu ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #aaa;
        line-height: 39px; }
      .main-tab__menu ul li.target {
        border: 1px solid #eee;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 4px; }
        .main-tab__menu ul li.target a {
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
          font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
          color: #000;
          line-height: 39px; }

.main-tab__content {
  width: 100%;
  height: 500px; }

#main-tab__menu__ranking {
  /* 서브 탭 */ }
  #main-tab__menu__ranking .title {
    width: 100%;
    height: 40px; }
    #main-tab__menu__ranking .title::after {
      content: "";
      display: block;
      clear: both; }
    #main-tab__menu__ranking .title h3 {
      float: left;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #000;
      line-height: 40px;
      padding-right: 8px; }
    #main-tab__menu__ranking .title .title__entire {
      float: left;
      height: 100%; }
      #main-tab__menu__ranking .title .title__entire a {
        display: inline-block;
        height: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #777;
        line-height: 40px; }
        #main-tab__menu__ranking .title .title__entire a img {
          display: inline-block;
          margin-left: 2px; }
    #main-tab__menu__ranking .title .title__age {
      float: right;
      height: 100%; }
      #main-tab__menu__ranking .title .title__age a {
        display: inline-block;
        height: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #000;
        line-height: 40px; }
        #main-tab__menu__ranking .title .title__age a img {
          display: inline-block;
          margin-left: 5px; }
  #main-tab__menu__ranking .sub-tab {
    width: auto;
    height: auto;
    padding: 10px 0;
    box-sizing: border-box; }
    #main-tab__menu__ranking .sub-tab ul {
      width: auto;
      height: 100%;
      white-space: nowrap;
      overflow-x: auto;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */ }
      #main-tab__menu__ranking .sub-tab ul::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/ }
      #main-tab__menu__ranking .sub-tab ul li {
        display: inline-block;
        margin-right: 8px; }
        #main-tab__menu__ranking .sub-tab ul li:last-of-type {
          margin-right: 0; }
        #main-tab__menu__ranking .sub-tab ul li a {
          display: inline-block;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
          color: #aaa;
          padding: 5px 10px 4px;
          border: 1px solid #aaa;
          box-sizing: border-box;
          border-radius: 4px; }
        #main-tab__menu__ranking .sub-tab ul li.target a {
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
          color: #000;
          border: 1px solid #000; }

/*# sourceMappingURL=style.css.map */
