@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

table, th, td {
  border-collapse: collapse; }

fieldset, input, select, button, textarea {
  outline: none;
  border: none; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

/* color */
/* font */
/* background img */
/*----- header -----*/
#header {
  width: 100%;
  height: 50px;
  position: relative; }

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-bell,
.header-heart,
.header-bag {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px; }

.header-bell {
  left: 10px; }
  .header-bell.alram::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #0078ff;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0; }

.header-heart {
  right: 50px; }

.header-bag {
  right: 10px; }
  .header-bag .header-bag__badge {
    width: 18px;
    height: 18px;
    background-color: #0078ff;
    border-radius: 9px;
    position: absolute;
    bottom: -3px;
    right: -3px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #fff;
    text-align: center;
    line-height: 18px; }

/*----- visual -----*/
#visual {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative; }
  #visual .swiper-wrapper {
    width: 100%;
    height: 100%; }
  #visual .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer; }
    #visual .swiper-slide img {
      width: 100%;
      height: auto;
      object-fit: cover; }
    #visual .swiper-slide .visual__txt {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      #visual .swiper-slide .visual__txt .visual__txt--top {
        position: absolute;
        top: 40px;
        left: 25px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #fff; }
      #visual .swiper-slide .visual__txt h2 {
        position: absolute;
        bottom: 100px;
        left: 25px;
        display: flex;
        width: 220px;
        height: 220px;
        align-items: flex-end;
        font-weight: 500;
        font-size: 30px;
        line-height: 39px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #fff; }
      #visual .swiper-slide .visual__txt .visual__txt--bottom {
        position: absolute;
        bottom: 70px;
        left: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #fff; }
  #visual .swiper-pagination-bullet {
    margin-bottom: 25px;
    background: #fff; }
  #visual .swiper-pagination-bullet-active {
    background: #fff; }

/*----- 랭킹, 코디, 업데이트 -----*/
#main {
  width: 100%;
  padding: 15px;
  box-sizing: border-box; }

/* 메인 탭 */
.main-tab__menu {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #f5f5f5;
  margin: 15px 0; }
  .main-tab__menu ul {
    width: 100%;
    height: 100%; }
    .main-tab__menu ul::after {
      content: "";
      display: block;
      clear: both; }
    .main-tab__menu ul li {
      float: left;
      width: calc(100% / 3);
      height: 100%;
      border: 1px solid transparent;
      box-sizing: border-box; }
      .main-tab__menu ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #aaa;
        line-height: 39px; }
      .main-tab__menu ul li.target {
        border: 1px solid #eee;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 4px; }
        .main-tab__menu ul li.target a {
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
          font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
          color: #000;
          line-height: 39px; }

.main-tab__content {
  width: 100%; }

.main-tab__content > div {
  display: none; }
  .main-tab__content > div.target {
    display: block; }

#main-tab__menu__ranking,
#main-tab__menu__coordi,
#main-tab__menu__update {
  overflow: hidden; }

/* 랭킹 */
.ranking__title {
  width: 100%;
  height: 40px; }
  .ranking__title::after {
    content: "";
    display: block;
    clear: both; }
  .ranking__title h3 {
    float: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #000;
    line-height: 40px;
    padding-right: 8px; }
  .ranking__title .ranking__title__entire {
    float: left;
    height: 100%; }
    .ranking__title .ranking__title__entire a {
      display: inline-block;
      height: 100%;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #777;
      line-height: 40px; }
      .ranking__title .ranking__title__entire a img {
        display: inline-block;
        margin-left: 2px; }
  .ranking__title .ranking__title__age {
    float: right;
    height: 100%; }
    .ranking__title .ranking__title__age a {
      display: inline-block;
      height: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #000;
      line-height: 40px; }
      .ranking__title .ranking__title__age a img {
        display: inline-block;
        margin-left: 5px; }

/* 서브 탭 */
.sub-tab {
  width: auto;
  height: auto;
  padding: 10px 0;
  box-sizing: border-box;
  margin-bottom: 15px; }
  .sub-tab ul {
    width: auto;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .sub-tab ul::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari, Opera*/ }
    .sub-tab ul li {
      display: inline-block;
      margin-right: 8px; }
      .sub-tab ul li:last-of-type {
        margin-right: 0; }
      .sub-tab ul li a {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #aaa;
        padding: 5px 10px 4px;
        border: 1px solid #aaa;
        box-sizing: border-box;
        border-radius: 4px; }
      .sub-tab ul li.target a {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #000;
        border: 1px solid #000; }

.ranking__goods-list--top ul {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  .ranking__goods-list--top ul li {
    width: calc(100% /3);
    height: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative; }
    .ranking__goods-list--top ul li img {
      width: 100%;
      height: 36vw;
      max-height: 250px;
      object-fit: contain; }
    .ranking__goods-list--top ul li .goods-list__store {
      padding-top: 10px;
      padding-right: 3px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #777; }
    .ranking__goods-list--top ul li .goods-list__price {
      padding-right: 3px;
      box-sizing: border-box;
      position: relative;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #000; }
      .ranking__goods-list--top ul li .goods-list__price.coupon::after {
        content: "쿠폰";
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        width: 22px;
        height: 15px;
        background-color: #4162C9;
        border-radius: 2px;
        text-align: center;
        font-weight: 500;
        font-size: 9px;
        line-height: 15px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #fff; }
      .ranking__goods-list--top ul li .goods-list__price span {
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        display: inline-block;
        margin-right: 2px;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #ff0000; }
    .ranking__goods-list--top ul li:nth-of-type(1)::after {
      content: "1";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(2)::after {
      content: "2";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(3)::after {
      content: "3";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(4)::after {
      content: "4";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(5)::after {
      content: "5";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(1), .ranking__goods-list--top ul li:nth-of-type(2) {
      width: 50%; }
      .ranking__goods-list--top ul li:nth-of-type(1) img, .ranking__goods-list--top ul li:nth-of-type(2) img {
        height: 55vw; }
      .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__store,
      .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__price, .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__store,
      .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__price {
        padding-right: 5px; }
        .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__store.coupon::after,
        .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__price.coupon::after, .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__store.coupon::after,
        .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__price.coupon::after {
          right: 5px; }
        .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__store span,
        .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__price span, .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__store span,
        .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__price span {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
          color: #ff0000;
          right: 5px; }
      .ranking__goods-list--top ul li:nth-of-type(1)::after, .ranking__goods-list--top ul li:nth-of-type(2)::after {
        width: 24px;
        height: 24px;
        background-color: #333;
        line-height: 24px; }

.sub-banner {
  width: 100%;
  height: 90px;
  margin: 60px 0 75px;
  position: relative; }
  .sub-banner .swiper-wrapper {
    width: 100%;
    height: 100%; }
  .sub-banner .swiper-slide {
    border-radius: 6px; }
  .sub-banner .swiper-pagination-bullets {
    bottom: -25px !important; }
  .sub-banner .swiper-pagination-bullet-active {
    background: #000; }

.sub-banner.type1 .swiper-slide {
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap; }
  .sub-banner.type1 .swiper-slide img {
    width: 135px;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .sub-banner.type1 .swiper-slide p {
    display: inline-block;
    padding: 0 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: 0; }
    .sub-banner.type1 .swiper-slide p span {
      display: block;
      padding-top: 3px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #777; }

.sub-banner.type2 .swiper-slide {
  background-color: #484848; }
  .sub-banner.type2 .swiper-slide img {
    width: 135px;
    height: 100%;
    object-fit: contain;
    position: absolute;
    bottom: -10px;
    right: 0; }
  .sub-banner.type2 .swiper-slide .sub-banner__txt {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%); }
    .sub-banner.type2 .swiper-slide .sub-banner__txt p {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .sub-banner.type2 .swiper-slide .sub-banner__txt span {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff;
      opacity: 65%; }

.ranking__goods-list ul {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  .ranking__goods-list ul li {
    width: calc(100% /3);
    height: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative; }
    .ranking__goods-list ul li img {
      width: 100%;
      height: 36vw;
      max-height: 250px;
      object-fit: contain; }
    .ranking__goods-list ul li .goods-list__store {
      padding-top: 10px;
      padding-right: 3px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #777; }
    .ranking__goods-list ul li .goods-list__price {
      padding-right: 3px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 13px;
      line-height: 19px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #000; }
      .ranking__goods-list ul li .goods-list__price::after {
        content: "";
        display: block;
        clear: both; }
      .ranking__goods-list ul li .goods-list__price .discount {
        float: right;
        display: inline-block;
        margin-top: 3px;
        margin-right: 2px;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #ff0000; }
      .ranking__goods-list ul li .goods-list__price .coupon {
        float: right;
        display: inline-block;
        margin-top: 2px;
        text-align: center;
        font-weight: 500;
        font-size: 9px;
        line-height: 15px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #4162C9; }
    .ranking__goods-list ul li:nth-of-type(1)::after {
      content: "6";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(2)::after {
      content: "7";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(3)::after {
      content: "8";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(4)::after {
      content: "9";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(5)::after {
      content: "10";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(6)::after {
      content: "11";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(7)::after {
      content: "12";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(8)::after {
      content: "13";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(9)::after {
      content: "14";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(10)::after {
      content: "15";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(11)::after {
      content: "16";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list ul li:nth-of-type(12)::after {
      content: "17";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }

.ranking__refresh {
  padding-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #aaa; }

.main-btn {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 7px; }

.main-btn--showall {
  display: inline-block;
  text-align: center;
  padding: 0 16px;
  border: 1px solid #F1F1F1;
  border-radius: 20px;
  box-sizing: border-box;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #777;
  line-height: 40px; }
  .main-btn--showall img {
    display: inline-block;
    margin-left: 8px; }

/* 코디 */
.coordi-list {
  width: 100%; }
  .coordi-list ul::after {
    content: "";
    display: block;
    clear: both; }
  .coordi-list ul li {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 3px;
    box-sizing: border-box; }
    .coordi-list ul li:nth-of-type(even) {
      margin-right: 0; }

.coordi__coordi-link {
  display: block;
  position: relative; }
  .coordi__coordi-link img {
    width: 100%;
    height: 100%; }
  .coordi__coordi-link.autoplay::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 20px;
    background-image: url(../img/main/coordi/ic-autoplay.svg); }

.coordi__goods-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 22px; }
  .coordi__goods-link img {
    width: 45px;
    height: 54px;
    object-fit: cover; }

.coordi__goods-link__txt {
  padding-left: 10px; }
  .coordi__goods-link__txt p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #777; }
  .coordi__goods-link__txt .coordi__goods-link__price {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #000; }
  .coordi__goods-link__txt .coordi__goods-link__discount {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #ff0000;
    padding-left: 3px; }

/* 숍, 맵, 스냅 */
.coordi-list__menu {
  width: 100%; }
  .coordi-list__menu ul::after {
    content: "";
    display: block;
    clear: both; }
  .coordi-list__menu ul li {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 3px;
    box-sizing: border-box; }
    .coordi-list__menu ul li:nth-of-type(even) {
      margin-right: 0; }

.coordi-list__tab {
  position: relative; }
  .coordi-list__tab a {
    color: #000; }
    .coordi-list__tab a img {
      width: 100%;
      height: 100%; }
    .coordi-list__tab a span {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      text-align: center;
      width: 100%;
      height: 36px;
      background-color: #f5f5f5;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: 0;
      line-height: 36px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }

/* 업데이트 */
.update-article {
  width: 100%; }
  .update-article ul::after {
    content: "";
    display: block;
    clear: both; }
  .update-article ul li {
    float: left;
    width: 49%;
    margin-right: 2%;
    margin-bottom: 25px;
    box-sizing: border-box; }
    .update-article ul li:nth-of-type(even) {
      margin-right: 0; }

.update-article__list img {
  width: 100%;
  height: 30vw;
  max-height: 250px;
  object-fit: cover;
  border-radius: 6px; }
.update-article__list p {
  padding: 10px 0 3px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #000; }
.update-article__list span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #777; }

.main-btn--refresh {
  display: inline-block;
  text-align: center;
  padding: 0 20px 0 40px;
  border: 1px solid #F1F1F1;
  border-radius: 20px;
  box-sizing: border-box;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #777;
  line-height: 40px;
  position: relative; }
  .main-btn--refresh img {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%); }

.update__title {
  width: 100%;
  height: 40px;
  padding-top: 60px;
  position: relative; }
  .update__title h3 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #000;
    line-height: 40px;
    padding-right: 8px; }

.update__title__entire {
  position: absolute;
  bottom: 0;
  right: 0; }
  .update__title__entire a {
    display: inline-block;
    height: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #777;
    line-height: 40px; }
    .update__title__entire a img {
      display: inline-block;
      margin-left: 2px; }

.update-news__list ul::after {
  content: "";
  display: block;
  clear: both; }
.update-news__list ul li {
  float: left;
  width: 24%;
  height: 25vw;
  max-height: 250px;
  margin-right: 1%;
  margin-bottom: 4px; }
  .update-news__list ul li:nth-of-type(4n) {
    margin-right: 0; }
  .update-news__list ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.update-news__list__showall {
  position: relative; }

.update-news__list__showall__txt {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center; }
  .update-news__list__showall__txt p {
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #000; }
    .update-news__list__showall__txt p span {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #000; }
  .update-news__list__showall__txt a {
    display: inline-block;
    width: 58px;
    height: 22px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #000;
    line-height: 22px;
    text-align: center;
    margin-top: 5px; }

.update-news__list__title {
  padding-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #000; }

.update-news__list__sub {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #777; }

@media screen and (min-width: 641px) {
  body {
    width: 640px;
    margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
