@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

table, th, td {
  border-collapse: collapse; }

fieldset, input, select, button, textarea {
  outline: none;
  border: none; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

/* font */
/* background img */
/*----- header -----*/
#header {
  width: 100%;
  height: 50px;
  position: relative; }

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-bell,
.header-heart,
.header-bag {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px; }

.header-bell {
  left: 10px; }
  .header-bell.alram::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #0078FF;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0; }

.header-heart {
  right: 50px; }

.header-bag {
  right: 10px; }
  .header-bag .header-bag__badge {
    width: 18px;
    height: 18px;
    background-color: #0078FF;
    border-radius: 9px;
    position: absolute;
    bottom: -3px;
    right: -3px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #fff;
    text-align: center;
    line-height: 18px; }

/*----- visual -----*/
#visual {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative; }
  #visual .swiper-wrapper {
    width: 100%;
    height: 100%; }
  #visual .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative; }
    #visual .swiper-slide img {
      width: 100%;
      height: auto;
      object-fit: cover; }
    #visual .swiper-slide .visual__txt {
      position: absolute;
      top: 0;
      left: 0; }
      #visual .swiper-slide .visual__txt .visual__txt--top {
        margin-top: 40px;
        margin-left: 25px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #fff; }
      #visual .swiper-slide .visual__txt h2 {
        display: flex;
        width: 220px;
        height: 220px;
        margin-top: 75px;
        margin-left: 25px;
        align-items: flex-end;
        font-weight: 500;
        font-size: 30px;
        line-height: 39px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #fff; }
      #visual .swiper-slide .visual__txt .visual__txt--bottom {
        margin-top: 10px;
        margin-left: 25px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #fff; }
  #visual .swiper-pagination-bullet {
    margin-bottom: 25px;
    background: #fff; }
  #visual .swiper-pagination-bullet-active {
    background: #fff; }

/*----- 랭킹, 코디, 업데이트 -----*/
#main {
  width: 100%;
  padding: 15px;
  box-sizing: border-box; }

/* 메인 탭 */
.main-tab__menu {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #F5F5F5;
  margin: 15px 0; }
  .main-tab__menu ul {
    width: 100%;
    height: 100%; }
    .main-tab__menu ul::after {
      content: "";
      display: block;
      clear: both; }
    .main-tab__menu ul li {
      float: left;
      width: calc(100% / 3);
      height: 100%; }
      .main-tab__menu ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #aaa;
        line-height: 39px; }
      .main-tab__menu ul li.target {
        border: 1px solid #eee;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 4px; }
        .main-tab__menu ul li.target a {
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
          font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
          color: #000;
          line-height: 39px; }

.main-tab__content {
  width: 100%; }

.ranking__title {
  width: 100%;
  height: 40px; }
  .ranking__title::after {
    content: "";
    display: block;
    clear: both; }
  .ranking__title h3 {
    float: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: #000;
    line-height: 40px;
    padding-right: 8px; }
  .ranking__title .ranking__title__entire {
    float: left;
    height: 100%; }
    .ranking__title .ranking__title__entire a {
      display: inline-block;
      height: 100%;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #777;
      line-height: 40px; }
      .ranking__title .ranking__title__entire a img {
        display: inline-block;
        margin-left: 2px; }
  .ranking__title .ranking__title__age {
    float: right;
    height: 100%; }
    .ranking__title .ranking__title__age a {
      display: inline-block;
      height: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #000;
      line-height: 40px; }
      .ranking__title .ranking__title__age a img {
        display: inline-block;
        margin-left: 5px; }

/* 서브 탭 */
.ranking__sub-tab {
  width: auto;
  height: auto;
  padding: 10px 0;
  box-sizing: border-box;
  margin-bottom: 15px; }
  .ranking__sub-tab ul {
    width: auto;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .ranking__sub-tab ul::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari, Opera*/ }
    .ranking__sub-tab ul li {
      display: inline-block;
      margin-right: 8px; }
      .ranking__sub-tab ul li:last-of-type {
        margin-right: 0; }
      .ranking__sub-tab ul li a {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #aaa;
        padding: 5px 10px 4px;
        border: 1px solid #aaa;
        box-sizing: border-box;
        border-radius: 4px; }
      .ranking__sub-tab ul li.target a {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #000;
        border: 1px solid #000; }

.ranking__goods-list--top ul {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  .ranking__goods-list--top ul li {
    width: calc(100% /3);
    height: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative; }
    .ranking__goods-list--top ul li img {
      width: 100%;
      height: 36vw;
      object-fit: contain; }
    .ranking__goods-list--top ul li .goods-list__store {
      padding-top: 10px;
      padding-right: 3px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #777; }
    .ranking__goods-list--top ul li .goods-list__price {
      padding-right: 3px;
      box-sizing: border-box;
      position: relative;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #000; }
      .ranking__goods-list--top ul li .goods-list__price.coupon::after {
        content: "쿠폰";
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        width: 22px;
        height: 15px;
        background-color: #4162C9;
        border-radius: 2px;
        text-align: center;
        font-weight: 500;
        font-size: 9px;
        line-height: 15px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #fff; }
      .ranking__goods-list--top ul li .goods-list__price span {
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        display: inline-block;
        margin-right: 2px;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        color: #FF0000; }
    .ranking__goods-list--top ul li:nth-of-type(1)::after {
      content: "1";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(2)::after {
      content: "2";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(3)::after {
      content: "3";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(4)::after {
      content: "4";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(5)::after {
      content: "5";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #aaa;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: #fff; }
    .ranking__goods-list--top ul li:nth-of-type(1), .ranking__goods-list--top ul li:nth-of-type(2) {
      width: 50%; }
      .ranking__goods-list--top ul li:nth-of-type(1) img, .ranking__goods-list--top ul li:nth-of-type(2) img {
        height: 55vw; }
      .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__store,
      .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__price, .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__store,
      .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__price {
        padding-right: 5px; }
        .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__store.coupon::after,
        .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__price.coupon::after, .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__store.coupon::after,
        .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__price.coupon::after {
          right: 5px; }
        .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__store span,
        .ranking__goods-list--top ul li:nth-of-type(1) .goods-list__price span, .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__store span,
        .ranking__goods-list--top ul li:nth-of-type(2) .goods-list__price span {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
          color: #FF0000;
          right: 5px; }
      .ranking__goods-list--top ul li:nth-of-type(1)::after, .ranking__goods-list--top ul li:nth-of-type(2)::after {
        width: 24px;
        height: 24px;
        background-color: #333;
        line-height: 24px; }

.sub-banner.type1 {
  width: 100%;
  height: 90px;
  margin: 60px 0;
  position: relative; }
  .sub-banner.type1 .swiper-wrapper {
    width: 100%;
    height: 100%; }
  .sub-banner.type1 .swiper-slide {
    background-color: #F9F9F9;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; }
    .sub-banner.type1 .swiper-slide img {
      width: 135px;
      height: 100%;
      object-fit: contain;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
    .sub-banner.type1 .swiper-slide span {
      display: inline-block;
      padding: 0 15px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
      color: 0; }
  .sub-banner.type1 .swiper-pagination-bullets {
    bottom: -25px !important; }
  .sub-banner.type1 .swiper-pagination-bullet-active {
    background: #000; }

/*# sourceMappingURL=style.css.map */
