/* font */
@mixin font_system_m($w, $c){
    font-weight: $w;
    font-size: 14px;
    line-height: 21px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: $c;
}
@mixin font_system_s($w, $c){
    font-weight: $w;
    font-size: 12px;
    line-height: 18px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: $c;
}
@mixin font_musinsa_l($w, $c){
    font-weight: $w;
    font-size: 30px;
    line-height: 39px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: $c;
}
@mixin font_musinsa_m($w, $c){
    font-weight: $w;
    font-size: 18px;
    line-height: 27px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: $c;
}
@mixin font_musinsa_s($w, $c){
    font-weight: $w;
    font-size: 15px;
    line-height: 22px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: $c;
}
@mixin font_musinsa_xs($w, $c){
    font-weight: $w;
    font-size: 13px;
    line-height: 19px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: $c;
}
@mixin font_musinsa_xxs($w, $c){
    font-weight: $w;
    font-size: 11px;
    line-height: 16px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: $c;
}
@mixin font_musinsa($w, $s, $lh, $c){
    font-weight: $w;
    font-size: $s;
    line-height: $lh;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    color: $c;
}

/* background img */
@mixin bg_img($url){
    background-image: $url;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}