@charset "UTF-8";
@import "reset";
@import "mixin";

/*----- header -----*/
#header{
    width: 100%; height: 50px;
    position: relative;
}
.header-logo{
    position: absolute; 
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.header-bell,
.header-heart,
.header-bag{
    width: 30px; height: 30px;
    position: absolute;
    top: 50%; margin-top: -15px;
}
.header-bell{
    left: 10px;
    &.alram::after{
        content: "";
        width: 4px; height: 4px;
        background-color: #0078FF;
        border-radius: 2px;
        position: absolute;
        top: 0; right: 0;
    }
}
.header-heart{
    right: 50px;
}
.header-bag{
    right: 10px;
    .header-bag__badge{
        width: 18px; height: 18px;
        background-color: #0078FF;
        border-radius: 9px;
        position: absolute;
        bottom: -3px; right: -3px;
        @include font_musinsa_xxs($w: 500, $c:#fff);
        text-align: center;
        line-height: 18px;
    }
}

/*----- visual -----*/
#visual{
    width: 100%; height: auto;
    overflow: hidden;
    position: relative;
}
.swiper{
    width: 100%; height: 100%;
}
.swiper-wrapper{
    width: 100%; height: 100%;
}
.swiper-slide{
    width: 100%; height: 100%;
    position: relative;
    img{
        width: 100%; height: auto;
        object-fit: cover;
    }
    .visual__txt{
        position: absolute;
        top: 0; left: 0;
        .visual__txt--top{
            margin-top: 40px;
            margin-left: 25px;
            @include font_musinsa_s($w: 500, $c: #fff);
        }
        h2{
            display: flex;
            width: 220px; height: 220px;
            margin-top: 75px;
            margin-left: 25px;
            align-items: flex-end;
            @include font_musinsa_l($w: 500, $c: #fff);
        }
        .visual__txt--bottom{
            margin-top: 10px;
            margin-left: 25px;
            @include font_system_m($w: 400, $c: #fff);
        }
    }
}
.swiper-pagination{
    .swiper-pagination-bullet {background: #fff;}
    .swiper-pagination-bullet-active{background: #fff;}
}
//pagination 위치
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 25px !important;
}

/*----- 랭킹, 코디, 업데이트 탭 -----*/
#main-tab{
    width: 100%;
    padding: 15px; box-sizing: border-box;
}
.main-tab__menu{
    width: 100%; height: 40px;
    border-radius: 6px;
    background-color: #F5F5F5;
    margin-top: 15px;
    ul{
        width: 100%; height: 100%;
        &::after{content: ""; display: block; clear: both;}
        li{
            float: left;
            width: calc(100% / 3); height: 100%;
            a{
                display: inline-block;
                width: 100%; height: 100%;
                text-align: center;
                @include font_musinsa_xs($w: 500, $c: #aaa);
                line-height: 39px; //40px - 1px
            }
            &.target{
                border: 1px solid #eee; box-sizing: border-box;
                background-color: #fff;
                border-radius: 4px;
                a{
                    @include font_musinsa_xs($w: 500, $c: #000);
                    line-height: 39px; //40px - 1px
                }

            }
        }
    }
}
.main-tab__content{

}



