@charset "UTF-8";
@import "reset";
@import "mixin";

/*----- header -----*/
#header{
    width: 100%; height: 50px;
    position: relative;
}
.header-logo{
    position: absolute; 
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.header-bell,
.header-heart,
.header-bag{
    width: 30px; height: 30px;
    position: absolute;
    top: 50%; margin-top: -15px;
}
.header-bell{
    left: 10px;
    &.alram::after{
        content: "";
        width: 4px; height: 4px;
        background-color: #0078FF;
        border-radius: 2px;
        position: absolute;
        top: 0; right: 0;
    }
}
.header-heart{
    right: 50px;
}
.header-bag{
    right: 10px;
    .header-bag__badge{
        width: 18px; height: 18px;
        background-color: #0078FF;
        border-radius: 9px;
        position: absolute;
        bottom: -3px; right: -3px;
        @include font_musinsa_xxs($w: 500, $c:#fff);
        text-align: center;
        line-height: 18px;
    }
}

/*----- visual -----*/
#visual{
    width: 100%; height: auto;
    overflow: hidden;
    position: relative;
}
.swiper{
    width: 100%; height: 100%;
}
.swiper-wrapper{
    width: 100%; height: 100%;
}
.swiper-slide{
    width: 100%; height: 100%;
    position: relative;
    img{
        width: 100%; height: auto;
        object-fit: cover;
    }
    .visual__txt{
        position: absolute;
        top: 0; left: 0;
        .visual__txt--top{
            margin-top: 40px;
            margin-left: 25px;
            @include font_musinsa_s($w: 500, $c: #fff);
        }
        h2{
            display: flex;
            width: 220px; height: 220px;
            margin-top: 75px;
            margin-left: 25px;
            align-items: flex-end;
            @include font_musinsa_l($w: 500, $c: #fff);
        }
        .visual__txt--bottom{
            margin-top: 10px;
            margin-left: 25px;
            @include font_system_m($w: 400, $c: #fff);
        }
    }
}
.swiper-pagination{
    .swiper-pagination-bullet {background: #fff;}
    .swiper-pagination-bullet-active{background: #fff;}
}
//pagination 위치
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 25px !important;
}

/*----- 랭킹, 코디, 업데이트 -----*/
#main{
    width: 100%;
    padding: 15px; box-sizing: border-box;
}
/* 메인 탭 */
.main-tab__menu{
    width: 100%; height: 40px;
    border-radius: 6px;
    background-color: #F5F5F5;
    margin: 15px 0;
    ul{
        width: 100%; height: 100%;
        &::after{content: ""; display: block; clear: both;}
        li{
            float: left;
            width: calc(100% / 3); height: 100%;
            a{
                display: inline-block;
                width: 100%; height: 100%;
                text-align: center;
                @include font_musinsa_xs($w: 500, $c: #aaa);
                line-height: 39px; //40px - 1px
            }
            &.target{
                border: 1px solid #eee; box-sizing: border-box;
                background-color: #fff;
                border-radius: 4px;
                a{
                    @include font_musinsa_xs($w: 500, $c: #000);
                    line-height: 39px; //40px - 1px
                }

            }
        }
    }
}
.main-tab__content{
    width: 100%;
    height: 500px; //-------------------임의설정 삭제!!
}
.ranking__title{
    width: 100%; height: 40px;
    &::after{content: ""; display: block; clear: both;}
    h3{
        float: left;
        @include font_musinsa_m($w: 400, $c: #000);
        line-height: 40px;
        padding-right: 8px;
    }
    .ranking__title__entire{
        float: left;
        height: 100%;
        a{
            display: inline-block;
            height: 100%;
            @include font_system_s($w: 400, $c: #777);
            line-height: 40px;
            img{display: inline-block; margin-left: 2px;}
        }
        
    }
    .ranking__title__age{
        float: right;
        height: 100%;
        a{
            display: inline-block;
            height: 100%;
            @include font_system_m($w: 400, $c: #000);
            line-height: 40px;
            img{display: inline-block; margin-left: 5px;}
        }
    }
}
/* 서브 탭 */
.ranking__sub-tab{
    width: auto; height: auto;
    padding: 10px 0; box-sizing: border-box;
    margin-bottom: 15px;
    ul{
        width: auto;height: 100%;
        white-space: nowrap; overflow-x: auto;
        //스크롤바 안보이게 설정
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}
        li{
            display: inline-block;
            margin-right: 8px;
            &:last-of-type{margin-right: 0;}
            a{
                display: inline-block;
                @include font_system_m($w: 400, $c: #aaa);
                padding: 5px 10px 4px;
                border: 1px solid #aaa; box-sizing: border-box;
                border-radius: 4px;
            }
            &.target{
                a{
                    @include font_system_m($w: 700, $c: #000);
                    border: 1px solid #000;
                }
            }

        }
    }
}
.ranking__goods-list--top{
    ul{
        display: flex; justify-content: space-between; align-content: flex-start; flex-wrap: wrap;
        width: 100%; height: 100%;
        li{
            width: calc(100% /3); height: 100%;
            margin-bottom: 20px;
            cursor: pointer;
            position: relative;
            img{
                width: 100%; height: 36vw;
                object-fit: contain;
            }
            .goods-list__store{
                padding-top: 10px;
                padding-right: 3px;
                box-sizing: border-box;
                @include font_system_s($w:400, $c: #777);
            }
            .goods-list__price{
                padding-right: 3px;
                box-sizing: border-box;
                @include font_musinsa_s($w:500, $c: #000);
            }
            //순위 라벨
            @for $i from 1 through 5{
                &:nth-of-type(#{$i})::after{
                    content: "#{$i}";
                    width: 20px; height: 20px;
                    position: absolute;
                    top: 0; left: 0;
                    background-color: #aaa;
                    text-align: center;
                    @include font_musinsa_xxs($w:500, $c:#fff);
                    line-height: 20px;
                }
            }
            &:nth-of-type(1),
            &:nth-of-type(2){
                width: 50%;
                img{height: 55vw;}
                .goods-list__store,
                .goods-list__price{padding-right: 5px;}
                //1st, 2nd 순위 라벨 
                &::after{
                    width: 24px; height: 24px;
                    background-color: #333;
                    line-height: 24px;
                }
            }

        }
    }

}



