@charset "UTF-8";
@import "reset";
@import "mixin";

#header{
    width: 100%; height: 50px;
    position: relative;
}
.header-logo{
    position: absolute; 
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.header-bell,
.header-heart,
.header-bag{
    width: 30px; height: 30px;
    position: absolute;
    top: 50%; margin-top: -15px;
}
.header-bell{
    left: 10px;
    &.alram::after{
        content: "";
        width: 4px; height: 4px;
        background-color: #0078FF;
        border-radius: 2px;
        position: absolute;
        top: 0; right: 0;
    }
}
.header-heart{
    right: 50px;
}
.header-bag{
    right: 10px;
    .header-bag__badge{
        width: 18px; height: 18px;
        background-color: #0078FF;
        border-radius: 9px;
        position: absolute;
        bottom: -3px; right: -3px;
        @include font_musinsa_xxs($w: 500, $c:#fff);
        text-align: center;
        line-height: 18px;
    }
}







